<select name="" id="services_all" class="custom-select" autofocus="true" required="true">
  <option selected>Choose...</option>
  <% @search.each do |search| %>
    <option value="<%= search["bestMatches"] %>"><%= search["bestMatches"]%></option>
  <% end %>
</select>