<main>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Change</th>
    </tr>
    </thead>
    <tbody>
      <tr>
<!--        <td><%#= stock.symbol %></td>-->
<!--        <td><%#= stock.open %></td>-->
<!--        <td><%#= stock.high %></td>-->
<!--        <td><%#= stock.low %></td>-->
<!--        <td><%#= stock.price %></td>-->
<!--        <td><%#= stock.previous_close %></td>-->
<!--        <td><%#= stock.change%></td>-->
    </tr>
    </tbody>
  </table>
  </ul>
</div>
</main>