// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overflow-auto {
  height: 50rem;
  overflow: scroll;
}
